@media(max-width: 2560px){
    #photo{
        width: 35%;
        margin: auto;
    }

    .blocks{
        width: 500px;
        margin: 50px;
    }
}

@media(max-width: 1920px){
    
}

@media(max-width: 1600px){
    
}

@media(max-width: 1440px){
    
}

@media(max-width: 1280px){
    
}

@media(max-width: 1080px){
    
}

@media(max-width: 1024px){
    
}

@media(max-width: 962px){
    #bottom-section{
        flex-direction: column;
    }

    .blocks{
        width: 400px;
        margin: 50px auto;
    }
}

@media(max-width: 810px){
    
}

@media(max-width: 768px){

}

@media(max-width: 640px){
    
}

@media(max-width: 601px){
    
}

@media(max-width: 540px){
    
}

@media(max-width: 425px){
    
}

@media(max-width: 375px){
    
}

@media(max-width: 320px){
    
}