@keyframes rotation-anim{
    0% { transform: translate(0%, -50%) rotate(0deg); }
    100% { transform: translate(0%, -50%) rotate(360deg); }
}

.image-pattern{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    width: 30%;
    height: 100%;
    margin: auto;
    border: 0px solid red;

    animation: rotation-anim 30s infinite linear;
}

/* Start of Viking Patterns */
.image-pattern img:nth-child(1){
    position: absolute;
    top: -17.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    border: 0px solid red;
    z-index: -1;
}

.image-pattern img:nth-child(2){
    position: absolute;
    bottom: -17.5%;
    left: 32.5%;
    transform: translate(-50%, -50%);
    width: 50px;
    rotate: 180deg;
    border: 0px solid bisque;
    z-index: -1;
}

.image-pattern img:nth-child(3){
    position: absolute;
    top: 20%;
    left: -2.5%;
    transform: translate(-50%, -50%);
    width: 50px;
    rotate: -90deg;
    border: 0px solid green;
    z-index: -1;
}

.image-pattern img:nth-child(4){
    position: absolute;
    bottom: 20%;
    right: 0%;
    transform: translate(-50%, -50%);
    width: 50px;
    rotate: 90deg;
    border: 0px solid yellow;
    z-index: -1;
}
/* End of Viking Patterns */